n8n/workflows/obsidian/Obsidian_5DB_Agent_local_AI.json
{
  "name": "Obsidian_5DB_Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "cd82ebe9-cdf9-4c85-9df2-b6d37998d78a",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and prepare for Obsidian API\nconst input = $input.first().json;\nconst originalMessage = $('When Called By Another Workflow').first().json.message;\nconst source = $('When Called By Another Workflow').first().json.source || 'simplex';\nconst threadTs = $('When Called By Another Workflow').first().json.simplex_thread_ts || null;\n\nlet parsed;\ntry {\n  const content = input.output?.[0]?.content?.[0]?.text || input.message?.content || input.content || input;\n  let jsonStr = typeof content === 'string' ? content : JSON.stringify(content);\n  \n  // Extract JSON from markdown code blocks if present\n  const jsonMatch = jsonStr.match(/```json\\n?([\\s\\S]*?)\\n?```/) || jsonStr.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    jsonStr = jsonMatch[1] || jsonMatch[0];\n  }\n  \n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  // Fallback to needs_review\n  parsed = {\n    database: 'needs_review',\n    confidence: 0.3,\n    name: 'Unparseable Input',\n    notes: originalMessage\n  };\n}\n\n// Build the ClassifiedCapture object for the API\nreturn {\n  original_text: originalMessage,\n  database: parsed.database || 'needs_review',\n  confidence: parsed.confidence || 0.5,\n  name: parsed.name || 'Untitled',\n  \n  // People fields\n  context: parsed.context || null,\n  follow_ups: parsed.follow_ups || null,\n  \n  // Projects fields\n  status: parsed.status || null,\n  next_action: parsed.next_action || null,\n  \n  // Ideas fields\n  one_liner: parsed.one_liner || null,\n  \n  // Admin fields\n  due_date: parsed.due_date || null,\n  \n  // Common\n  notes: parsed.notes || null,\n  tags: parsed.tags || [],\n  \n  // Metadata\n  source: source,\n  simplex_thread_ts: threadTs\n};"
      },
      "id": "1e6a0baf-fb0d-43d5-9665-c8f55034ddf2",
      "name": "Parse_AI_Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://obsidian-api:8000/capture",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "26724c1a-60fa-4c41-b5b0-4af49bd17db4",
      "name": "Call_Obsidian_Capture_API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format response for SimpleX reply\nconst result = $input.first().json;\nconst classified = $('Parse_AI_Response').first().json;\nconst originalInput = $('When Called By Another Workflow').first().json;\n\nconst dbEmojis = {\n  'people': '👤',\n  'projects': '📊',\n  'ideas': '💡',\n  'admin': '✅',\n  'needs_review': '⚠️'\n};\nconst emoji = dbEmojis[classified.database] || '📝';\n\nlet reply = '';\n\nif (result.needs_review) {\n  reply = `⚠️ Couldn't confidently classify your input.\\n\\n`;\n  reply += `📥 Saved to **Inbox Log** for manual review.\\n`;\n  reply += `Confidence: ${(classified.confidence * 100).toFixed(0)}%`;\n} else {\n  reply = `${emoji} **${classified.database.charAt(0).toUpperCase() + classified.database.slice(1)}**\\n\\n`;\n  reply += `📝 ${result.record?.name || classified.name}\\n`;\n  \n  // Show what was actually added\n  const addedContent = originalInput.content || classified.notes;\n  if (addedContent) {\n    reply += `✏️ Added: \"${addedContent}\"\\n`;\n  }\n  \n  // Add database-specific details\n  if (classified.database === 'admin' && classified.due_date) {\n    reply += `📅 Due: ${classified.due_date}\\n`;\n  }\n  if (classified.database === 'projects' && classified.next_action) {\n    reply += `➡️ Next: ${classified.next_action}\\n`;\n  }\n  if (classified.database === 'ideas' && classified.one_liner) {\n    reply += `💭 ${classified.one_liner}\\n`;\n  }\n  if (classified.database === 'people' && classified.follow_ups) {\n    reply += `📌 Follow-up: ${classified.follow_ups}\\n`;\n  }\n  \n  if (classified.tags && classified.tags.length > 0) {\n    reply += `🏷️ ${classified.tags.join(', ')}\\n`;\n  }\n  \n  reply += `\\n✨ Confidence: ${(classified.confidence * 100).toFixed(0)}%`;\n}\n\nreturn { reply };"
      },
      "id": "12529db9-74d2-4144-8fd9-dfeaba3788ec",
      "name": "Format_Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        0
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemma3:12b",
          "mode": "list",
          "cachedResultName": "gemma3:12b"
        },
        "messages": {
          "values": [
            {
              "content": "=Today's date: {{ $now.format('YYYY-MM-DD') }}\n\nClassify this input:\n\"{{ $json.message }}\""
            }
          ]
        },
        "options": {
          "system": "=You are a classifier for a knowledge management system. Analyze the input and return JSON.\n\nTODAY'S DATE: {{ $now.format('YYYY-MM-DD') }}\n\nINPUT:\n- \"content\": The information to store\n- \"target\": (optional) Pre-extracted person or topic name\n\nIf \"target\" is provided for people database: use it as \"name\", don't repeat it in notes.\n\nDATABASES:\n1. people - Information ABOUT specific people\n   - Preferences, updates, follow-ups about someone\n   - \"John mentioned he likes hiking\", \"Ask Sarah about her vacation\"\n\n2. projects - Multi-step goals with clear outcomes\n   - Ongoing work, milestones, initiatives\n   - \"Second brain: add search feature\", \"Kitchen renovation waiting on contractor\"\n\n3. ideas - Standalone insights or creative thoughts\n   - New concepts, brainstorms, interesting thoughts\n   - \"What if AI sorted email?\", \"App idea: habit tracker\"\n\n4. admin - Tasks, errands, to-dos with deadlines\n   - One-off tasks, appointments, bills\n   - \"Pay electricity by Friday\", \"Schedule dentist\", \"Buy groceries\"\n\n5. needs_review - Confidence below 0.6 or genuinely ambiguous\n\nTAGS (include 2-5):\n- Lowercase, single words or hyphenated\n- Topics: tech, health, finance, travel, food, fitness, work, family\n- Types: meeting, research, personal, urgent, deadline, planning\n- Context: home, career, hobby, friends, errands\n\nOUTPUT JSON:\n{\n  \"database\": \"people|projects|ideas|admin|needs_review\",\n  \"confidence\": 0.0-1.0,\n  \"name\": \"Short title\",\n  \"context\": \"How I know them (people only)\",\n  \"follow_ups\": \"Things to remember (people only)\",\n  \"status\": \"Active|Waiting|Blocked|Someday (projects only)\",\n  \"next_action\": \"Next step (projects only)\",\n  \"one_liner\": \"Core insight (ideas only)\",\n  \"due_date\": \"YYYY-MM-DD or null (admin only)\",\n  \"notes\": \"Additional details\",\n  \"tags\": [\"tag1\", \"tag2\"]\n}\n\nRULES:\n- Parse dates: \"by Friday\", \"tomorrow\", \"next week\" → YYYY-MM-DD\n- Use exact names for existing people/projects\n- Set confidence < 0.6 only if genuinely unsure\n- Include only fields relevant to the chosen database\n\nRespond with ONLY the JSON object."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        384,
        0
      ],
      "id": "85275eb7-8654-47bd-a77d-48cddca69c22",
      "name": "AI_Classify_to_5_Databases",
      "credentials": {
        "ollamaApi": {
          "id": "I5p9YNA47JCP3MB1",
          "name": "Ollama local"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Parse_AI_Response": {
      "main": [
        [
          {
            "node": "Call_Obsidian_Capture_API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call_Obsidian_Capture_API": {
      "main": [
        [
          {
            "node": "Format_Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "AI_Classify_to_5_Databases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Classify_to_5_Databases": {
      "main": [
        [
          {
            "node": "Parse_AI_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b8b1c61e-23d3-4ad8-9d04-4c60ed8b7eb8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5af9c56908a68ed8b8b4eedf2ab29753e321c82b755d88674ae79dcfc198c21"
  },
  "id": "y6LUxSyFBZT3A8-glyin0",
  "tags": []
}